.card-content {
    width: 30%;
    margin: 1rem 1rem 1rem 1rem;
    display: block;
    padding: 2rem 2rem 2rem;
    /*border: 2px solid #999;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow-wrap: normal;
}

.card-content img {
    width: 100%;
    border-radius: 5px;
}

.card-content h6 {
    margin: 0.5rem 0 0;
    color: #fff;
}


.card-content p  {
    width: 100%;
    text-align: left;
    margin: 0.5rem 0 0;
    color: #fff;
}

.tags p {
    color: #5B5B5B;
    align-items: left;
    margin: 0.5rem 0 0;
    padding-right: 0.5rem;
}

.tags {
    margin: 0.5rem 0 0;
    display: flex;
    flex-direction: row;
    float: left;
}

a:hover {
    color: #815AB4;
    text-decoration: underline;
}
