.projects-intro h3 {
    color: #fff;
    font-weight: 400;
    text-align: left;
    margin-left: 6%;
}


.drop-down-menu {
    width: 50%;
    margin-left: 5%;
    margin-top: 1rem;
    margin-bottom: auto;
}

.card-content h4 {
    margin: 0.5rem 0 0;
    color: #fff;
}

.card-content p  {
    color: #fff;
    width: 100%;
    text-align: left;
    margin: 0.5rem 0 0;
}



.projects-grid {
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
    margin: 3rem 3rem 3rem;
}